@model dynamic

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Simple House Template</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />
    @*<link href="css/templatemo-style.css" rel="stylesheet" />*@
    @Styles.Render("~/Content/css")
</head>
<!--

Simple House

https://templatemo.com/tm-539-simple-house

-->
<body>

    <div class="container">
        <!-- Top box -->
        <!-- Logo & Site Name -->
        <div class="placeholder">
            <div class="parallax-window" data-parallax="scroll" data-image-src="Content/img/simple-house-01.jpg">
                <div class="tm-header">
                    <div class="row tm-header-inner">
                        @Html.Partial("UserLayout/Header")
                        <nav class="col-md-6 col-12 tm-nav">
                            <ul class="tm-nav-ul">
                                <li class="tm-nav-li"><a href="~/" class="tm-nav-link active">Home</a></li>
                                <li class="tm-nav-li"><a href="~/Home/Cart" class="tm-nav-link">Cart</a></li>
                                <li class="tm-nav-li"><a href="~/Home/CheckOutSuccess" class="tm-nav-link">Order</a></li>
                                <li class="tm-nav-li"><a href="~/Home/Login" class="tm-nav-link">Login</a></li>
                                <li class="tm-nav-li"><a href="~/Home/Register" class="tm-nav-link">Register</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <main>
            <header class="row tm-welcome-section">
                <h2 class="col-12 text-center tm-section-title">Welcome to Simple House</h2>
                <p class="col-12 text-center">Total 3 HTML pages are included in this template. Header image has a parallax effect. You can feel free to download, edit and use this TemplateMo layout for your commercial or non-commercial websites.</p>
            </header>

            <div class="tm-paging-links">
                <nav>
                    <ul>
                        @foreach (SimpleHouse.Models.Category item in Model.Categories)
                        {
                            <li class="tm-paging-item">
                                <a href="#" class="tm-paging-link">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </a>
                            </li>
                        }
                    </ul>
                </nav>
            </div>

            <!-- Gallery -->
            <div class="row tm-gallery">
                <!-- gallery page 1 -->
                <div id="tm-gallery-page-pizza" class="tm-gallery-page">
                    @foreach (SimpleHouse.Models.Product item in Model.Products)
                    {
                        if (item.Category.Name == "Pizza")
                        {
                            <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                                <figure>
                                    <img src="~/@item.Image" alt="Image" style="width: 249.98px;height: 249.98px" class="img-fluid tm-gallery-img" />
                                    <figcaption>
                                        <h4 class="tm-gallery-title">
                                            @Html.DisplayFor(modelItem => item.Name) |<br>
                                            @Html.ActionLink("Details", "Details", new { id = item.Id })
                                        </h4>
                                        <p class="tm-gallery-description">
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </p>
                                        <p class="tm-gallery-price">
                                            $@Html.DisplayFor(modelItem => item.Price)
                                        </p>
                                    </figcaption>
                                </figure>
                            </article>
                        }
                    }
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="Content/img/gallery/03.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                            <figcaption>
                                <h4 class="tm-gallery-title">Sed varius turpis</h4>
                                <p class="tm-gallery-description">Nam in suscipit nisi, sit amet consectetur metus. Ut sit amet tellus accumsan</p>
                                <p class="tm-gallery-price">$30.50</p>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="Content/img/gallery/04.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                            <figcaption>
                                <h4 class="tm-gallery-title">Aliquam sagittis</h4>
                                <p class="tm-gallery-description">Nam in suscipit nisi, sit amet consectetur metus. Ut sit amet tellus accumsan</p>
                                <p class="tm-gallery-price">$25.50</p>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="Content/img/gallery/05.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                            <figcaption>
                                <h4 class="tm-gallery-title">Maecenas eget justo</h4>
                                <p class="tm-gallery-description">Nam in suscipit nisi, sit amet consectetur metus. Ut sit amet tellus accumsan</p>
                                <p class="tm-gallery-price">$80.25</p>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="Content/img/gallery/06.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                            <figcaption>
                                <h4 class="tm-gallery-title">Quisque et felis eros</h4>
                                <p class="tm-gallery-description">Nam in suscipit nisi, sit amet consectetur metus. Ut sit amet tellus accumsan</p>
                                <p class="tm-gallery-price">$20 / $40 / $60</p>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="Content/img/gallery/07.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                            <figcaption>
                                <h4 class="tm-gallery-title">Sed ultricies dui</h4>
                                <p class="tm-gallery-description">Nam in suscipit nisi, sit amet consectetur metus. Ut sit amet tellus accumsan</p>
                                <p class="tm-gallery-price">$94</p>
                            </figcaption>
                        </figure>
                    </article>
                </div> <!-- gallery page 1 -->
                <!-- gallery page 2 -->
                <div id="tm-gallery-page-salad" class="tm-gallery-page hidden">
                    @foreach (SimpleHouse.Models.Product item in Model.Products)
                    {
                        if (item.Category.Name == "Salad")
                        {
                            <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                                <figure>
                                    <img src="~/@item.Image" alt="Image" style="width: 249.98px;height: 249.98px" class="img-fluid tm-gallery-img" />
                                    <figcaption>
                                        <h4 class="tm-gallery-title">
                                            @Html.DisplayFor(modelItem => item.Name) |<br>
                                            @Html.ActionLink("Details", "Details", new { id = item.Id })
                                        </h4>
                                        <p class="tm-gallery-description">
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </p>
                                        <p class="tm-gallery-price">
                                            $@Html.DisplayFor(modelItem => item.Price)
                                        </p>
                                    </figcaption>
                                </figure>
                            </article>
                        }
                    }
                </div> <!-- gallery page 2 -->
                <!-- gallery page 3 -->
                <div id="tm-gallery-page-noodle" class="tm-gallery-page hidden">
                    @foreach (SimpleHouse.Models.Product item in Model.Products)
                    {
                        if (item.Category.Name == "Noodle")
                        {
                            <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                                <figure>
                                    <img src="~/@item.Image" alt="Image" style="width: 249.98px;height: 249.98px" class="img-fluid tm-gallery-img" />
                                    <figcaption>
                                        <h4 class="tm-gallery-title">
                                            @Html.DisplayFor(modelItem => item.Name) |<br>
                                            @Html.ActionLink("Details", "Details", new { id = item.Id })
                                        </h4>
                                        <p class="tm-gallery-description">
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </p>
                                        <p class="tm-gallery-price">
                                            $@Html.DisplayFor(modelItem => item.Price)
                                        </p>
                                    </figcaption>
                                </figure>
                            </article>
                        }
                    }
                </div> <!-- gallery page 3 -->
            </div>
            <div class="tm-section tm-container-inner">
                <div class="row">
                    <div class="col-md-6">
                        <figure class="tm-description-figure">
                            <img src="Content/img/img-01.jpg" alt="Image" class="img-fluid" />
                        </figure>
                    </div>
                    <div class="col-md-6">
                        <div class="tm-description-box">
                            <h4 class="tm-gallery-title">Maecenas nulla neque</h4>
                            <p class="tm-mb-45">Redistributing this template as a downloadable ZIP file on any template collection site is strictly prohibited. You will need to <a rel="nofollow" href="https://templatemo.com/contact">talk to us</a> for additional permissions about our templates. Thank you.</p>
                            <a href="about.html" class="tm-btn tm-btn-default tm-right">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        @Html.Partial("UserLayout/Footer")

    </div>
    @*<script src="js/jquery.min.js"></script>
        <script src="js/parallax.min.js"></script>*@
    @Scripts.Render("~/bundles/js")
    <script>
        $(document).ready(function () {
            // Handle click on paging links
            $('.tm-paging-link').click(function (e) {
                e.preventDefault();

                var page = $(this).text().toLowerCase().trim();
                $('.tm-gallery-page').addClass('hidden');
                $('#tm-gallery-page-' + page).removeClass('hidden');
                $('.tm-paging-link').removeClass('active');
                $(this).addClass("active");
            });
        });
    </script>
</body>
</html>