
@model SimpleHouse.Models.User

@{
    ViewBag.Title = "Login";
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Simple House Template</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />
    @*<link href="css/templatemo-style.css" rel="stylesheet" />*@
    @Styles.Render("~/Content/css")
</head>
<!--

Simple House

https://templatemo.com/tm-539-simple-house

-->
<body>

    <div class="container">
        <!-- Top box -->
        <!-- Logo & Site Name -->
        <div class="placeholder">
            <div class="parallax-window" data-parallax="scroll" data-image-src="/Content/img/simple-house-01.jpg">
                <div class="tm-header">
                    <div class="row tm-header-inner">
                        <div class="col-md-6 col-12">
                            <img src="/Content/img/simple-house-logo.png" alt="Logo" class="tm-site-logo" />
                            <div class="tm-site-text-box">
                                <h1 class="tm-site-title">Simple House</h1>
                                <h6 class="tm-site-description">new restaurant template</h6>
                            </div>
                        </div>
                        <nav class="col-md-6 col-12 tm-nav">
                            <ul class="tm-nav-ul">
                                <li class="tm-nav-li"><a href="~/" class="tm-nav-link">Home</a></li>
                                <li class="tm-nav-li"><a href="~/Home/Cart" class="tm-nav-link">Cart</a></li>
                                <li class="tm-nav-li"><a href="~/Home/CheckOutSuccess" class="tm-nav-link">Order</a></li>
                                <li class="tm-nav-li"><a href="~/Home/Login" class="tm-nav-link active">Login</a></li>
                                <li class="tm-nav-li"><a href="~/Home/Register" class="tm-nav-link">Register</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <main>
            <header class="row tm-welcome-section">
                <h2 class="col-12 text-center tm-section-title">Welcome to Simple House</h2>
                <p class="col-12 text-center">Total 3 HTML pages are included in this template. Header image has a parallax effect. You can feel free to download, edit and use this TemplateMo layout for your commercial or non-commercial websites.</p>
            </header>
            <div class="col-md-6" style="margin: 0 auto">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4 style="text-align: center">USER ACCOUNT</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group" style="padding: 10px;">
                        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-5" ; style="margin: 0 auto">
                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group" style="padding: 10px;">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-5" ; style="margin: 0 auto">
                            @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-12">
                            <input style="float: right; width: 10vh" type="submit" value="Login" class="btn btn-info" />
                            <button style="float: right; margin-right: 5px;" class="register btn btn-info" type="button">
                                @Html.ActionLink("Register", "Register", null, new { @style = "color: white;" })
                            </button>                        
                        </div>
                    </div>
                </div>
                }
            </div>

        </main>

        <footer class="tm-footer text-center">
        </footer>
    </div>
</body>
</html>